.booking {
    .payment-type {
        margin-bottom: 8px;
        .c-text-field-name {
            margin-bottom: 10px;
        }
    }
    .payment-detail {
        padding-bottom: 8px;
        .delivery-date {
            padding-top: 8px;
            padding-bottom: 10px;
        }
    }
}