.immediate-sale{
    .payment-type {
        .c-text-field-name {
            font: normal normal normal 16px/21px Segoe UI;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .payment-detail {
        .details {
            .c-text-field-name {
                margin-top: 10px;
            }
        }
    }
}